
# The location to store the in-memory database snapshots and, unless specified otherwise, the transaction log of updates to the database.
dataDir=${zookeeper.data.dir}

# The port to listen for client connections
clientPort=${zookeeper.client.port}

# The maximum number of ZooKeeper client connections
maxClientCnxns=50

# Length of time the ZooKeeper servers in quorum have to connect to a leader
initLimit=10

# Limits how far out of date a server can be from a leader
syncLimit=5

# The basic time unit in milliseconds used by ZooKeeper. It is used to do heartbeats and the minimum session timeout will be twice the tickTime.
tickTime=2000

